@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap");
/*
min-width
0-375px       Phone
600-900px     Tablet Portrait
900-1200      Tablet Landscape
[1200- 1800]  Normal styles
min-width
1800px +      Big Desktop
*/
/*
$breakpoint argument choices
- bp375
- bp900
- bp1200
*/
/*
max-width
0-600px       Phone
600-900px     Tablet Portrait
900-1200      Tablet Landscape
[1200- 1800]  Normal styles
min-width
1800px +      Big Desktop
*/
/*
$breakpoint argument choices
- bp600
- bp1000
- bp1200
- bp1800
*/
*,
html,
body {
  margin: 0;
  padding: 0; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 68.75em) {
    html {
      font-size: 55%; } }

body {
  box-sizing: border-box; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0; }

p {
  line-height: 1.5; }

img {
  width: 100%;
  max-width: 100%;
  vertical-align: middle; }

button {
  cursor: pointer;
  border: 0;
  border-radius: 0; }
  button:focus, button:active {
    outline: 0; }

input {
  border-radius: 0;
  outline: 0;
  border: none;
  background-color: transparent; }
  input:focus {
    outline: 0; }
  input::placeholder {
    color: inherit; }

ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none; }

body {
  font-family: 'Inter', sans-serif;
  color: #202046;
  height: 100vh; }

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid green;
  max-width: 1440px;
  height: 100vh; }

.background-curve {
  position: absolute;
  bottom: 0;
  left: 0; }

.slider {
  border: 1px solid blue;
  margin: 0 6rem;
  display: flex;
  justify-content: center;
  align-items: center; }
  @media only screen and (max-width: 56.25em) {
    .slider {
      flex-direction: column-reverse;
      margin: 1rem; } }
  .slider__text-container {
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 63rem;
    margin-left: 10rem;
    margin-right: -10%;
    z-index: 100;
    padding: 0;
    position: relative; }
    @media only screen and (max-width: 56.25em) {
      .slider__text-container {
        margin: 8rem auto; } }
  .slider__text-background {
    position: absolute;
    top: -6rem;
    left: 8rem;
    height: auto;
    width: 20%; }
    @media only screen and (max-width: 56.25em) {
      .slider__text-background {
        left: 42%;
        height: auto; } }
    @media only screen and (max-width: 56.25em) {
      .slider__text-background {
        top: -4rem; } }
  .slider__controls {
    display: flex;
    justify-content: space-around;
    position: absolute;
    bottom: 5rem;
    border-radius: 5rem;
    width: 11rem;
    height: 6rem;
    bottom: 5%;
    left: 20%;
    background-color: #fff;
    padding: 1rem;
    z-index: 200;
    box-shadow: 0 10px 20px rgba(32, 32, 70, 0.3); }
    @media only screen and (max-width: 56.25em) {
      .slider__controls {
        left: 3%; } }
    .slider__controls img {
      border-radius: 2.4rem; }

.slide-text__info {
  font-size: 3.2rem;
  font-weight: 300;
  margin-bottom: 5rem; }
  @media only screen and (max-width: 56.25em) {
    .slide-text__info {
      text-align: center;
      margin-bottom: 3rem; } }
  @media only screen and (max-width: 37.5em) {
    .slide-text__info {
      font-size: 2rem; } }

.slide-text__summary {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.8rem;
  font-weight: 700;
  margin: 0 auto; }
  @media only screen and (max-width: 56.25em) {
    .slide-text__summary {
      flex-direction: column;
      justify-content: center; } }
  .slide-text__summary--title {
    color: #babacf;
    font-weight: 500;
    margin-left: 1rem; }

.slide-image__container {
  border: 1px solid green;
  position: relative;
  height: auto;
  width: auto; }

.slide-image__background {
  z-index: -1; }

.slide-image__photo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 20px 50px rgba(32, 32, 70, 0.3);
  height: 80%;
  width: 80%;
  min-width: 25rem;
  min-height: 25rem;
  border-radius: 4px;
  background-size: cover;
  z-index: 1; }
