@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap");
/*
min-width
0-375px       Phone
600-900px     Tablet Portrait
900-1200      Tablet Landscape
[1200- 1800]  Normal styles
min-width
1800px +      Big Desktop
*/
/*
$breakpoint argument choices
- bp375
- bp900
- bp1200
*/
/*
max-width
0-600px       Phone
600-900px     Tablet Portrait
900-1200      Tablet Landscape
[1200- 1800]  Normal styles
min-width
1800px +      Big Desktop
*/
/*
$breakpoint argument choices
- bp600
- bp1000
- bp1200
- bp1800
*/
*,
html,
body {
  margin: 0;
  padding: 0; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0; }

p {
  line-height: 1.5; }

img {
  max-width: 100%;
  vertical-align: middle; }

button {
  cursor: pointer;
  border: 0;
  border-radius: 0; }
  button:focus, button:active {
    outline: 0; }

input {
  border-radius: 0;
  outline: 0;
  border: none;
  background-color: transparent; }
  input:focus {
    outline: 0; }
  input::placeholder {
    color: inherit; }

ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none; }

body {
  font-family: 'Inter', sans-serif;
  color: #202046; }

.wrapper {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
  height: 100vh; }
  .wrapper__background-curve {
    position: absolute;
    bottom: 0;
    left: 0; }

.slide {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 6rem;
  height: 100vh; }
  @media only screen and (max-width: 50em) {
    .slide {
      flex-direction: column-reverse;
      justify-content: flex-end;
      align-items: center;
      margin: 2.4rem;
      height: auto; } }
  .slide__background-pattern {
    position: absolute;
    top: 2%;
    transform: scale(1.3);
    z-index: -100;
    padding: 1rem; }
  .slide__text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 64rem;
    margin-right: -6%;
    z-index: 100;
    position: relative; }
    @media only screen and (max-width: 50em) {
      .slide__text-container {
        margin: 0; } }
  .slide__image-container {
    position: relative;
    border-radius: 8px;
    box-shadow: 0 2rem 5rem rgba(32, 32, 70, 0.3); }
    @media only screen and (max-width: 64em) {
      .slide__image-container {
        margin-bottom: 8.6rem;
        margin-top: 2.4rem;
        width: 80%; } }
  .slide__customer-image {
    border-radius: 8px; }
  .slide__controls {
    position: absolute;
    display: flex;
    left: 20%;
    transform: translate(-50%, -50%);
    align-items: center;
    justify-content: space-around;
    height: 5.5rem;
    width: 11rem;
    background: #fff;
    border-radius: 5rem;
    box-shadow: 0 2rem 5rem rgba(32, 32, 70, 0.3); }
    @media only screen and (max-width: 50em) {
      .slide__controls {
        left: 50%;
        height: 4rem;
        width: 8rem; } }

.user__quote-icon {
  position: absolute;
  max-width: 12rem;
  margin: 0 auto;
  bottom: 100%;
  left: 25%;
  transform: translate(-50%, 35%) scale(1); }
  @media only screen and (max-width: 50em) {
    .user__quote-icon {
      transform: translate(-50%, 35%) scale(0.5);
      left: 50%;
      bottom: 95%; } }

.user__quote {
  font-size: 3.2rem;
  font-weight: 300;
  margin-bottom: 5rem; }
  @media only screen and (max-width: 64em) {
    .user__quote {
      font-size: 2.4rem;
      margin-bottom: 1.6rem; } }
  @media only screen and (max-width: 50em) {
    .user__quote {
      text-align: center;
      font-size: 1.8rem; } }

.user__info {
  display: flex;
  font-weight: 700;
  font-size: 1.8rem; }
  @media only screen and (max-width: 64em) {
    .user__info {
      flex-direction: column; } }
  @media only screen and (max-width: 50em) {
    .user__info {
      align-items: center;
      font-size: 1.4rem; } }
  .user__info--title {
    color: #babacf;
    margin-left: 1rem;
    font-weight: 300; }
    @media only screen and (max-width: 64em) {
      .user__info--title {
        margin: 0.5rem 0; } }

.display-none {
  display: none; }
